# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

venv/

# User
data/
data_raw/

figures/
results/

2026_proj_2026_Zimcik_Xenium.pptx
02_connect_adata_to_spatial_data.ipynb

